.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  color: white; 
  padding: 10px 20px;
}

.left-section {
  display: flex;
  align-items: center;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.right-section {
  display: flex;
  align-items: center;
}

.nav-button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  margin-left: 15px;
}
